$themes: (
  light: (
    --font-color_primary: #272727,
    --font-color_gray: $gray,
    --font-color_link: #4f7daf,
    --bg-color_blur: rgba(255, 255, 255, 0.8),
    --bg-color_blur_overlay: rgba(255, 255, 255, 0.3),
    --bg-color_sidebar: #f6f6f6,
    --bg-color_sidebar_hover: #e8e8e8,
    --bg-color_sidebar_active: #dbdbdb,
    --bg-color_aside: #f5f5f5,
    --bg-color_aside_hover: #d8d8d8,
    --bg-color_main: $white,
    --bg-color_main_striped: #f9f9f9,
    --bg-color_main_hover: #ebebeb,
    --border-color_00: #dfe4e7
  ),
  dark: (
    --font-color_primary: #dddddd,
    --font-color_gray: $gray_1,
    --font-color_link: #86b9e6,
    --bg-color_blur: rgba(37, 37, 37, 0.8),
    --bg-color_blur_overlay: rgba(0, 0, 0, 0.3),
    --bg-color_sidebar: #242424,
    --bg-color_sidebar_hover: #333333,
    --bg-color_sidebar_active: #404040,
    --bg-color_aside: #363636,
    --bg-color_aside_hover: #454545,
    --bg-color_main: $black,
    --bg-color_main_striped: #2a2a2a,
    --bg-color_main_hover: #3b3b3b,
    --border-color_00: #30363d
  )
);
