$fs_s: 10px;
$fs_xs: 12px;
$fs_m: 14px;
$fs_xm: 16px;
$fs_l: 18px;
$fs_xl: 22px;
$fs_xxl: 24px;

$z-topbar: 1000;
$z-topbar_r: 1003;
$z-sidebar: 1001;
$z-playbar: 1003;
$z-player: 1002;

$main-padding: 25px;

$h-topbar: 50px;
$w-sidebar: 200px;
$h-playbar: 60px;

$red: #d23c32;
$white: #ffffff;
$black: #1e1e1e;
$gray: #6f6f6f;
$gray_1: #a1a1a1;
$blue: #4a79cc;

$radius_1: 3px;
$radius_2: 5px;
$radius_3: 8px;
$radius_4: 10px;
$radius_5: 15px;
