$fs_s: 10px;
$fs_xs: 12px;
$fs_m: 14px;
$fs_xm: 16px;
$fs_l: 18px;
$fs_xl: 22px;
$fs_xxl: 24px;

$z-topbar: 1000;
$z-topbar_r: 1001;
$z-sidebar: 1002;
$z-playbar: 1003;

$h-topbar: 50px;
$w-sidebar: 200px;
$h-playbar: 60px;
